<hgroup class="page-header">
    <h1>Add Role</h1>
</hgroup>
<form class="row" name="roleForm" ng-enter-key="save()">
    <div class="col-md-6">
        <div class="form-group" ng-valid-field="roleForm.name">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" name="name" ng-model="role.Name" required maxlength="20" />
        </div>
        <div class="form-group">
            <label class="control-label">Permissions</label>
            <table class="table table-striped" ng-init="permissions.load()">
                <tbody>
                    <tr ng-if="!permissions.isLoading() && permissions.data.length < 1">
                        <td class="text-center" colspan="99">
                            Items not found
                        </td>
                    </tr>
                    <tr ng-repeat="p in permissions.data">
                        <td class="check">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="p.Checked" />
                                <i class="fa fa-check"></i>
                            </label>
                        </td>
                        <td ng-bind="p.CodeName"></td>
                    </tr>
                    <tr ng-if="permissions.isLoading()">
                        <td class="text-center" colspan="99">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr ng-if="permissions.hasMore() && !permissions.isLoading()">
                        <td class="text-center" colspan="99">
                            <a class="btn btn-link" ng-click="permissions.more()">Load more</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <button class="btn btn-success" type="button" ng-click="save()">Save</button>
            <a class="btn btn-default" href="#/admin/role">Cancel</a>
        </div>
    </div>
</form>